<template>
  <q-page class="q-pa-xl flex flex-center">
    <div 
      class="box q-pa-xl rounded-borders shadow-4"
      style="width:800px; font-family:sans-serif"
    >
    <!-- User Form -->
      <h4 class="q-mb-md q-ma-none q-pb-md">User Form</h4>
      <q-form @submit="addUser()">
        <div class="q-ma-md">
          <q-input
            v-model="User.name"
            label="Name"
            outlined
            round
            stack-label
            lazy-rules
            :rules="[(val) => !!val || 'Field is required']"
            class="col"
          />
        </div>
        <div class="row q-ma-md">
          <q-input
            v-model="User.username"
            label="Username"
            outlined
            round
            stack-label
            lazy-rules
            hint="Minimum of 8 characters"
            :rules="[
              (val) =>
                val.length >= 8 || 'Please input minimum of 8 characters long',
            ]"
            class="col col-6"
          />
          <q-input
            v-model="User.email"
            label="Email"
            outlined
            round
            stack-label
            class="col col-6"
            lazy-rules
            hint="Ex: @gmail.com"
            :rules="[
              (val) => !!val || '* Required @gmail.com',
              (val) =>
                !val ||
                val.endsWith('@gmail.com') ||
                'Required @gmail.com',
            ]"
          />
        </div>
        <div class="row q-ma-md justify-start">
          <q-input
            v-model="User.phone"
            label="Phone"
            type="tel"
            mask="(09) #### - ### - ####"
					  hint="(09) #### - ### - ####"
            outlined
            round
            stack-label
            class="col-6"
          />
          <q-input
            v-model="User.website"
            label="Website"
            outlined
            round
            stack-label
            class="col-6"
            lazy-rules
            hint="Ex: .pixel8"
            :rules="[
              (val) => !!val || '* Required .pixel8',
              (val) =>
                !val || val.endsWith('.pixel8') || 'Required .pixel8',
            ]"
          />
        </div>
        <span class="q-ma-none">Address</span>
        <div class="row q-ma-md">
          <q-input
            v-model="User.address.street"
            label="Street"
            outlined
            round
            stack-label
            class="col-6"
            lazy-rules
            :rules="[(val) => !!val || 'Field is required']"
          />
          <q-input
            v-model="User.address.suite"
            label="Suite"
            outlined
            round
            stack-label
            class="col-6"
            lazy-rules
            :rules="[(val) => !!val || 'Field is required']"
          />
        </div>
        <div class="row q-ma-md">
          <q-input
            v-model="User.address.city"
            label="City"
            outlined
            round
            stack-label
            class="col-6"
            lazy-rules
            :rules="[(val) => !!val || 'Field is required']"
          />
          <q-input
            v-model="User.address.zipcode"
            label="Zipcode"
            outlined
            round
            stack-label
            class="col-6"
            lazy-rules
            hint="Zipcode must be a number"
            :rules="[
              (val) =>
                (val !== null && val !== '') || 'Please type your zipcode',
              (val) => val > 0 || 'Zipcode must be a number',
            ]"
          />
        </div>
        <span class="q-ma-none">Company</span>
        <div class="q-ma-md">
          <q-input
            v-model="User.company.name"
            label="Company Name"
            outlined
            round
            stack-label
            class="col"
            lazy-rules
            :rules="[(val) => !!val || 'Field is required']"
          />
          <q-input
            v-model="User.company.catchPhrase"
            label="Company CatchPhrase"
            outlined
            round
            stack-label
            class="col"
            lazy-rules
            :rules="[(val) => !!val || 'Field is required']"
          />
          <q-input
            v-model="User.company.bs"
            label="Business Services"
            outlined
            round
            stack-label
            class="col"
            lazy-rules
            :rules="[(val) => !!val || 'Field is required']"
          />
        </div>
        <q-btn 
          flat
          color="grey"
          style="width: 150px; margin-right: 40px" 
          @click="cancel()" 
          label="Cancel" 
        />
        <q-btn 
          style="width: 150px" 
          color="blue" 
          type="submit" 
          :label="!User.id ? 'Add User' : 'Update User'" 
        />
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { useRouter, useRoute } from "vue-router";
import { post_user, getByID, update_user } from "src/composables/Data";
import { resetForm, User } from "src/composables/userColumns";
import { useQuasar } from "quasar";
export default {
  name: "add-user",

  setup() {
    const router = useRouter();
    const route = useRoute();
    const $q = useQuasar();
    const addUser = async () => {
      try {
        if (User.value.id) {
          await update_user(User.value);
          $q.notify({
            type: "positive",
            message: "User information updated!",
            position: "center",
          });
        } else {
          await post_user(User.value);
          $q.notify({
            type: "positive",
            message: "New User added!",
            position: "center",
          });
        }
        console.log(User.value);
        // navigate back to the list of users page or display a success message
        router.push("/user-list");
        resetForm(User);
      } catch (error) {
        console.error(error);
      }
    };

    const cancel = () => {
      resetForm(User);
      router.push("/user-list");
    };

    //console.log(route.params.id);
    const getID = async (id) => {
      const response = await getByID(id);
      console.log(response);
      User.value = response;
    };
    if (route.params.id) {
      getID(route.params.id);
    }
    return {
      User,
      addUser,
      post_user,
      cancel,
      getID,
      resetForm,
    };
  },
};
</script>