<template>
  <q-page class="q-ma-xl">
    <q-table
      :rows="users"
      :columns="columns"
      class="my-sticky-header-column-table"
      flat
      bordered
    >
      <template v-slot:top>
        <span class="text-h5">User List</span>
      </template>
      <template v-slot:body-cell-action="props">
        <q-td :props="props" key="action">
          <q-btn
            flat
						round
            color="grey"
						icon="edit"
						dense
            @click="updateUser(props.row.id)"
          />
          <q-btn
            flat
						round
            color="grey"
						icon="delete"
						dense
            @click="deleteUser(props.row.id)"
          />
        </q-td>
      </template>
    </q-table>
  </q-page>
</template>

<script>
import { ref } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";
import { columns } from "src/composables/userColumns";
import { remove_user } from "../composables/Data";
import { useQuasar } from "quasar";

export default {
  name: "list-user",
  setup() {
    let url = "http://localhost:3000/users";
    let users = ref([]);
    let selectedUser = ref(null);
    let modalShown = ref(false);
    let deleteBtnLoadingState = ref(false);
    const $q = useQuasar();

    const getuser = async () => {
      try {
        let { data } = await axios.get(url);
        users.value = data;
      } catch (error) {
        console.error(error);
      }
    };
    // Popups when deleting a user //
    const deleteUser = async (id) => {
      deleteBtnLoadingState.value = true;
      try {
        $q.dialog({
          title: "Delete",
          message: "Are you sure you want to delete this user?",
          cancel: true,
          persistent: true,
        }).onOk(async () => {
          await remove_user(id);
          $q.notify({
            message: "Delete Success",
            position: "bottom-right",
            type: "negative",
          });
          await getuser();
        });
      } catch (error) {
        alert(error);
      }
    };

    const router = useRouter();
    // router will navigate to add-user //
    const updateUser = (id) => {
      router.push({ name: "add-user", params: { id } });
    };

    // Method to call updateUser with selectedUserId
    const editSelectedUser = (user) => {
      selectedUser.value = user;
      updateUser(selectedUser.value.id);
    };
    // Closes the dialog by setting modalShown to false
    const cancelEditUser = () => {
      modalShown.value = false; 
    };

    getuser();

    return {
      users,
      columns,
      getuser,
      deleteUser,
      updateUser,
      selectedUser,
      modalShown,
      editSelectedUser,
      cancelEditUser,
    };
  },
};
</script>